<div>
{% extends 'nav.html' %}
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}
<div style="margin: 100px 20px; display: flex; justify-content: center; align-items: flex-start;">
    <div class="search-box">
        <input type="search" placeholder="search" id="search-input">
        <button style="font-size:24px" id="search-btn"><i class="fa fa-search"></i></button>
    </div>
</div>
<hr>
<div id="results" style="margin-top: 20px; text-align: center;"></div>
<!--start search profile -->
<!-- Template container (hidden) -->
<div id="search-template" style="display: none;">
    <div style="margin: 0px 20px;">
        
        <div class="profile-search" style="margin: 10px;">
            <div id="design" style="display: flex; align-items: center;">
                <img alt="ok" id="search-pic" style="margin-right: 5px;">
                <a href="#" class="profile-link" style="text-decoration: none;">
                <span style="margin-left: 5px; text-transform: capitalize;">name</span>
                </a>
            </div>
            <div>
                <button data-action="send" id="add-frq" style="font-size: 20px; width: 100%; display: flex; justify-content: space-between; align-items: center;">
                    <span style="margin-right: auto;">Send request</span>
                    <i class="fa fa-plus-square-o"></i>
                </button>   
            </div>
        </div>
    </div>
</div>

<!-- Actual result container -->
<div id="results"></div>
<!-- end of search profile -->
 <h1>pending</h1>
{% for i in pending_request%}
<span>{{i.status}}</span>
{% endfor %}

<style>
    #design{
        display: inline-flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    #search-pic{
        height: 70px;
        width: 70px;
        border-radius: 0;
        background-color: aquamarine;
        border: 1px solid black;
    }
    .profile-search{
        border: 2px solid black;
        width:250px;
        display: inline-block;
    }
    #search-btn{
        background-color: white;
        border: none;
    }
    .search-box {
        border: 2px solid red;
        height: 20px;
        width: fit-content;
        align-items: center;
        border-radius: 10px;
        display: flex; /* Added to align items inside the search box */
        padding: 10px; /* Added padding for better spacing */
    }
    #search-input {
        appearance: none;
        width: 300px;
        border: none;
        appearance: none;
        outline: none;
        margin-right: 10px; /* Added margin for spacing between input and icon */
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    let timeout = null;

    $('#search-input').keyup(function(){
        clearTimeout(timeout);
        const query = $(this).val().trim();

        if (query.length === 0) {
            $('#results').html('');
            return;
        }

        timeout = setTimeout(() => {
            $.ajax({
                type: "GET",
                url: "{% url 'filter_s' %}",
                data: { q: query },
                success: function(response){
                    const resultsContainer = $('#results');
                    resultsContainer.empty();
                    // console.log(response.results) //to check response
                    if (response.results.length === 0) {
                        resultsContainer.html('<p style="margin: 20px;">No results found</p>');
                        return;
                    }

                    response.results.forEach(user => {
                        // Clone the template
                        const clone = $('#search-template > div').clone();
                        
                        // Update the clone content
                        clone.find('#search-pic').attr('src', user.profile_pic);
                        clone.find('#design span').text(user.username);
                        clone.find('#add-frq').attr('data-url',user.username)
                        
                        //button enable on id
                        if (user.id === response.curr_user){
                            clone.find('button').hide();
                        }
                        // console.log(user.id, response.curr_user)
                        // animation test
                        clone.hide()

                        
                        clone.slideDown(100);
                        clone.find('.profile-link').attr('href', '/user/'+user.username+'/')
                        const reqUrl = `/friends/send/${user.username}/`;
                        clone.find('#add-frq').attr('data-url', reqUrl);
                        clone.find('#add-frq').attr('class',user.username)
                        if(user.status == 'none'){
                            
                        }else if(user.status == 'pending'){
                            clone.find('#add-frq').text('Request pending')
                        }else if(user.status == 'accepted'){
                            clone.find('#add-frq').text('You are connected')
                        }else if(user.status == 'rejected'){
                            clone.find('#add-frq').text('Request rejected')
                        }
                        // Append to result container
                        resultsContainer.append(clone);
                    });
                }
            });
        }, 1000);
    });
});



    // Add friend
    $(document).on('click','#add-frq',function(){
        const url = $(this).data('url')
        let class_name = $(this).attr('class')
        const action = $(this).data('action')
        $.ajax({
            type: 'GET',
            url:url,
            success: function(response){
                alert(response.status || 'Request Sent');
                $('.'+class_name).text('Request sent')
            },
            error: function(xhr){
                alert('something went wrong')
            }
        })
    })
</script>


{% endblock %}
